<h2>THIS IS YOUR CHEESEBURGER PROFILE</h2>

<div class="profile">
	<h3>Here are your saved favorites</h3>
<h2 class="text-center">New Post</h2>

<form method="post" action="/profile">
	<div class="form-group">
		<label for="title">Restaurant Name:</label>
		<input type="text" name="title" placeholder="Restaurant Name" class="form-control" value="<%=restaurant || ''%>" requried>
	</div>
	<div class="form-group">
		<div class="form-group">
		<label for="comment">Comment:</label>
		<textarea name="comment" class="form-control"></textarea>
	</div>
	<br>
	<input type="submit" value="Create Comment" class="btn btn-warning">
</form>
</div>
<div>
<% if(results) { %>
<% results.forEach(function(profile){ %>
	<h2><%= profile.restaurant %> </h2>
	<p><%= profile.comment %> </p>
	<a class="btn btn-warning" href="/profile/edit/<%= profile.id %>">Edit</a>
	<a class="btn btn-warning delete-link" href="/profile/<%= profile.id %>">Delete</a>
<% }); %>
<% } else { %>
	<h2>Use the form above to comment on Cheeseburgers!</h2>
<% }; %>
</div>



